.container-redefinir-senha {
    width: 245px;
    height: 350px;
    padding: 20px;
    background: #fff;
    line-height: 24.8px;
    box-shadow: 3.06189px 3.06189px 3.06189px 3.06189px rgb(0 0 0 / 22%);
}